{% extends "base.html" %}

{% block content %}

<div style="margin: auto;  width: 1000px; height: 800px; background-color: rgb(110, 236, 116); padding: 20px;"
    class="flex-container">

    <table>
        {% for prontuario in read %}
        <tr>
            <td style="margin: 5px; padding: 5px;">{{ prontuario }}<a href="{{url_for('view.delete', id=prontuario.id)}}">Delete </a><a href="{{url_for('view.update', id=prontuario.id)}}">update </a>
            </td>
        </tr>
        {% endfor %}
        
    </table>


</div>



<a href="{{url_for("view.index")}}"><button type="submit" class="btn-voltar" style="width: 200px;">Voltar</button></a>
<h2 style="text-align: center; background-color: rgb(252, 167, 156);">Página em construção</h2>
<img style="margin:auto" width="100%" src="{{url_for("static",filename="img/consultaPront.png")}}" alt="">

{% endblock content%}