@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&family=Rasa&family=Roboto&family=Rouge+Script&family=Stick+No+Bills:wght@300&display=swap&family=Strait&display=swap');

:root{
    --cor01: #70ADA2;
    --cor02: #497493;
    --cor03: #82FCE6;

    --font-titulo: Rouge Script, Helvetica, sans-serif;
    --font-pront: Rasa Helvetica, sans-serif;
    --font-facil: Princess Sofia, Arial, Verdana, Helvetica, sans-serif; 
    --font-padrao01: Strait Arial, Verdana, Helvetica, sans-serif; 
    --font-padrao02: Roboto, Verdana, Helvetica, sans-serif; 
}
*{
    margin: 0px;
    padding: 0px;
    
}

body {
    background-color: var(--cor01);
}

section{
    display: flex;
}
header h1{
    font-family: var(--font-titulo);
    font-weight: lighter;
    font-size: 10rem;
    color: white;
    text-align: center;
}
div.container{    
    max-width: 1200px;
    min-width: 300px;
    display: block;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), var(--cor03);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    justify-content: center;
    margin: auto;
}

.flex-texto{
    display: block;
    text-align: center;
    margin: auto;
       
}

div.flex-texto h2{
    margin-right: 8rem;
    font-family: var(--font-pront);
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    width: 100%;
    height: 100%;
}

div.flex-texto h3{
    
    font-family: var(--font-facil);
    font-weight: lighter;
    margin-left: 3rem;
    font-size: 48px;
    line-height: 58px;
    width: 100%;
    height: 100%;

}
.linha{
    margin: auto;
    width: 75%;
    
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    
}

.flex-button{
    flex: 0 1 30%;
    flex-wrap: wrap;
    justify-content: space-around;
    
    /*
    height: 30%;
    margin: 10px;
    width: 40%;
    */
}
.button {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--cor02); /* Green */
    border: 2px solid var(--cor01);
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    transition-duration: 0.4s;
    width: 80%;
    height: 60%;
    min-width: 200px;
    min-height: 200px;
    
  }
  
.button:hover {
    background-color: #6eb2e2; /* Green */
    color: white;
    }
    
    .btn-voltar{
        background-color: #6ee29e;
        font-size: 1.5rem;
    transition-duration: 0.4s;
    width: 100%;
    height: 60%;
    color: white;
    padding: 5px;
}
.btn-voltar:hover {
    background-color: #7dffb3; /* Green */
    color: white;
    }

fieldset{
    border: 0;
}
.grid{
    display: grid;
    grid-template-areas: 
    "nome nome nome"
    "cpf data sus"
    "alergia alergia alergia"
    "doenca doenca doenca"
    "hist hist hist";
    grid-gap: 10px;
    padding-top: 2rem;
    font-size: 0.7em;
    border: 0; 
    margin: 4rem; 
    

} 
.grid > div:nth-child(1){
    grid-area: nome;
    grid-row: nome;
    
    
}
.grid > div:nth-child(2){
    grid-area: cpf;
    
}
.grid > div:nth-child(3){
    grid-area: data;
    
}
.grid > div:nth-child(4){
    grid-area: sus;
    
}
.grid > div:nth-child(5){
    grid-area: alergia;
}
.grid > div:nth-child(6){
    grid-area: doenca;
}
.grid > div:nth-child(7){
    grid-area: hist;
}


form{
    font-family: var(--font-padrao01);
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 39px;
}

.btn-confirmar{
    position: relative;
    top: -2rem;
    display: block;
    width: 320px;
    height: 49px;
    background-color: var(--cor02);
    margin: auto;
}

#nome{
    width: 100%;    
    margin: auto;
    padding: 0.5rem;
    font-size: 1.5rem;
}
#cpf{
    width: 100%;    
    padding: 0.5rem;
    font-size: 1.5rem;
}
#nascimento{
    width: 100%;    
    padding: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
}
#sus{
    width: 100%;    
    padding: 0.5rem;
    font-size: 1.5rem;
}

#alergias{
    width: 100%;    
    margin: auto;
    padding: 0.5rem;
    font-size: 1.5rem;
}
#doençaspre{
    width: 100%;    
    margin: auto;
    padding: 0.5rem;
    font-size: 1.5rem;
}
#historico{
    width: 100%;    
    margin: auto;
    padding: 0.5rem;
    font-size: 1.5rem;
}

label{
    display: block;
    text-align: start;
}
@media (max-width: 1200px) {
    header h1{
        font-family: var(--font-titulo);
        font-weight: lighter;
        font-size: 7rem;
        color: white;
        text-align: center;
    }
    form{
        font-family: var(--font-padrao01);
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        line-height: 39px;
    }
        
}
@media (max-width: 750px) {
    .grid{
        display: grid;
        grid-template-areas: 
        "nome nome "
        "cpf cpf" 
        "data data"
        "sus sus"
        "alergia alergia "
        "doenca doenca "
        "hist hist ";
        padding: 0.1em;
        padding-left: 0.3em; 
        font-size: 0.7em;
        border: 0;   
    }
    header h1{
        font-family: var(--font-titulo);
        font-weight: lighter;
        font-size: 4rem;
        color: white;
        text-align: center;
    }    
}